<div class="modal-body"
    ng-swipe-left="Lightbox.nextImage()"
    ng-swipe-right="Lightbox.prevImage()">
  <!-- navigation -->
  <div class="lightbox-nav">
    <!-- close button -->
    <button class="close" aria-hidden="true" ng-click="$dismiss()">×</button>
  </div>

  <div class="lightbox-image-container">
    <!-- video, requires 'videosharing-embed' module -->
    <div ng-if="Lightbox.showFlash">
      <swf-object
      lightbox-flash
      lightbox-src="{{Lightbox.imageUrl}}"
      swf-url="{{Lightbox.imageUrl}}"
      swf-width="{{Lightbox.width}}"
      swf-height="{{Lightbox.height}}"></swf-object>
    </div>
    <!-- image -->
    <img ng-if='!Lightbox.showFlash' lightbox-src="{{Lightbox.imageUrl}}" alt="">
  </div>
</div>
